body{
    width: 469px;
    height: 450px;
    max-height: 450px;
}

.well {
    background: none;
}

.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
    background-color: #ff585d;
}

td {
    color: white !important;
}

#tbscrl {
  max-height: 200px;
    overflow-y: auto;
}

.white-btn{
  color: #fff!important;
  border-color: #fff!important;
}