

.account-section.membership-section-wrapper{
	display: none !important;
}


.responsive-account-content{
	display: none !important;
}

.profile-load-error.show-error::before {
    content: "This Profile has beem compromised. Try the first profile or use another account.";
    visibility: visible;
    width: 100%;
    display: inline-block;
}

.profile-load-error.show-error{
	visibility: hidden;
}


.profile-load-error.show-error .profile-button{
	visibility: visible;
}


.profile-actions-container{
	display:none!important;
}

/* 

.profile:first-child {
  display: none;
} */


.profile-button{
	display: none !important;
}
